@{
    ViewData["Title"] = "Blog";
}
<section class="container py-5">
    <h1 class="section-title">Blog</h1>
    <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Sample post title</h5>
                <small>Sep 23, 2025</small>
            </div>
            <p class="mb-1">Brief excerpt of the blog post goes here.</p>
            <small>Read more</small>
        </a>
    </div>
</section>

