@{
    ViewData["Title"] = "Home";
}
@{
    var today = DateTime.Today;
    var age = today.Year - 2000;
    
}


<header id="home" class="hero section1">
    <div class="container mt-xxl-5 mt-xl-5">
        <div class="row align-items-start revimgclass">
            <!-- Left Column: Text and Buttons -->
            <div class="col-lg-7  d-flex flex-column justify-content-start introheight">

                
                <h1 class="hero-title">Hi, I'm Dnyanesh Kakade</h1>
                <p class="lead text-muted fst-italic">
                    Detail-oriented <span class="bgcardclr1">Dotnet full-stack developer</span> with a passion for building secure,
                    scalable web applications.
                </P>

                <p class="lead text-muted fst-italic">Skilled in .NET (ASP.NET MVC) developer building real‑time,
                    data‑driven web apps with SignalR,SQL Server, and a modern front end (HTML/CSS/JavaScript/Bootstrap).  
                </p>

                <div class="mb-3 ">
                    <a class="btn text-white fw-bold btn-lg me-2" style="background-color:#9929fb" target="_blank" href="mailto:you@example.com">Say Hello!</a>
     
                   <a class="btn btn-outline-primary btn-lg" href="#portfolio">View Portfolio</a>
                
                    
                </div>

             
                
                <!-- Experience Cards aligned to bottom of image -->
                <div class="d-flex gap-3 margincard">
                    <div class="card flex-fill bgcardclr1">
                        <div class="card-body text-center">
                            <span class="fw-bold fs-4">2.5 Y. <i class="fa-solid fa-briefcase " style="color: #0500FF;"></i></span><br />
                            <span class="fs-5">Experience</span>
                        </div>
                    </div>
                    <div class="card flex-fill bgcardclr2">
                        <div class="card-body text-center">
                            <span class="fw-bold fs-4">Hyderabad <i class="fa-solid fa-location-dot fa-bounce" style="color: #ee4949;"></i></span><br />
                            <span class="fs-5">Current Location</span>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Right Column: Image -->
            <div class="col-lg-5 mt-4 mt-lg-0 d-flex align-items-end">
                <div class="ratio ratio-1x1 bg-white rounded shadow-sm d-flex align-items-center justify-content-center">
                    <img class="rounded rounded-3 shadow-lg" src="~/images/pic1.png" />
                </div>
            </div>
        </div>

    </div>
</header>

<section id="about" class="container py-5 section2">
    <div class="card">
        <div class="card-body">
            <div class="row">
              <div class="col-lg-6 col-xl-6 col-xxl-5 ms-xxl-3  d-flex align-items-center justify-content-center">
                <div class="bg-white rounded mb-5">
                    <img class="rounded rounded-3  mt-xxl-5" src="~/images/aboutme1.png" />
                </div>
            </div>

                
                <div class="col-lg-6 col-xl-6 col-xxl-6">
                      <div class="aboutmargin">
                          <h3>I am Web Developer</h3>
                            <p class="lead">.NET (ASP.NET MVC) developer with 2.5 years of hands-on experience building clean, 
                                maintainable web applications. Strong grasp of MVC architecture, RESTful patterns,
                                and end‑to‑end delivery from database to UI.</p>  
                      </div>

                      <div class="row leaddetails ">
                          <div class="col-md-5 col-sm-5 col-lg-5 col-xl-5 col-xxl-5 ">
                              <p><i class="fa-solid fa-cake-candles text-primary"></i> 17 Feb 2000</p>
                              <p><i class="fa-solid fa-phone  text-secondary"></i> 8147824656</p>
                              <p><i class="fa-solid fa-graduation-cap"></i> B.E(CSE)</p>
                              <p><i class="bi bi-linkedin text-primary"></i> <a href="https://www.linkedin.com/in/dnyanesh-kakade-552791213/" target="_blank">Dnyanesh Kakade</a> </p>
                             
                          </div>
                          <div class="col-md-7 col-sm-7 col-lg-7 col-xl-7 col-xxl-7">
                               <p><i class="fa-solid fa-user text-secondary"></i> Age: @age</p>     
                               <p><i class="fa-solid fa-envelope text-danger"></i> dnyaneshkakade17@gmail.com</p>
                               <p><i class="fa-solid fa-house-chimney text-dark"></i> Hyderabad</p>
                               <p><i class="bi bi-github"></i> <a href="https://github.com/D-user-test" target="_blank">Dnyanesh Kakade</a> </p>
                          </div>

                      </div>

                      <div class="d-flex gap-3 aboutmargincard">                         
                        <div class="text-center">
                            <a class="btn  text-white fw-bold btn-lg" style="background-color:#9929fb" href="#portfolio">My Projects</a>
                        </div>                                               
                        <div class="text-center">
                            <a class="btn btn-outline-primary fw-bold btn-lg" href="~/resume/Resume.pdf" download><i class="fa-solid fa-download fa-bounce"  ></i> Download CV</a>
                        </div>
                            
                    </div>
                         
                </div>
            
            
            
            </div>
        </div>
    </div>
</section>





<section id="resume" class="resume py-5 section3">
  <div class="container">
    <div class="section-title3 text-center mb-5">
      <h2 class="fw-bold">Resume</h2>
      <p class="text-muted">My academic and professional journey</p>
    </div>
    <div class="row ">
      <div class="col-md-6 ">
        <h3 class="text-primary  fw-bold mb-3">Education</h3>
        <div class="mb-4 resume-item">
          <h5 class="fw-bold">B.E in Computer Science</h5>
          <p class="text-muted mb-1">2018 - 2022</p>
          <p><em>Angadi Institute of Technology and Management, Belagavi</em></p>
          <p>9.0 CGPA</p>
          <p>Focused on full-stack development, data structures, and software engineering principles.</p>
        </div>
      </div>
      <div class="col-md-6">
        <h3 class="text-primary fw-bold mb-3">Experience</h3>
        <div class="mb-4 resume-item">
          <h5 class="fw-bold">.Net Full-Stack Developer</h5>
          <p class="text-muted mb-1">July 2023 - Present</p>
          <p><em>ICFAI University, Hyderabad</em></p>
          <ul>
            <li>Developed and maintained web applications using .NET Core and ASP.NET MVC.</li>
            <li>Created RESTful APIs to facilitate communication between the frontend and backend systems.</li>
           @*  <li>Conducted unit testing and debugging to ensure high-quality code and performance.</li> *@
            <li>Developed a secure Login Page and user base authorization for users, faculty, and administrators.</li>
            <li>Designed and implemented a background service integrating Moodle with ASP.NET MVC to automate post-exam data updates in SQL Server, 
                ensuring seamless data synchronization and efficient record management.</li>
           
          </ul>
          </div>
           <div class="mb-4 resume-item">
           <p><em>Chat Bot to communicate</em></p>
           <ul >
                <li>Designed and developed a real-time chat system using SignalR for seamless user-to-user communication.</li>
                <li>Implemented features such as private messaging, online user status indicators, file sharing, and chat history.</li>
                <li>Integrated SignalR with ASP.NET MVC and JavaScript.</li>
                <li>Managed connection IDs, user sessions, and real-time updates for active/inactive user statuses.</li>
            </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- ======= Skills Section ======= -->
<section id="skills" class="skills bg-light py-5 section4">
  <div class="container">
    <div class="section-title4 text-center mb-5">
      <h2>Skills</h2>
      <p class="text-muted">My technical proficiency across various domains</p>
    </div>
   
      <div class="row col-md-12 col-sm-12  col-lg-12  col-xl-12  col-xxl-12  ">
       
        <div class="col-md-4 col-sm-4 col-lg-4 col-xl-4 col-xxl-4 mb-4">
          <label class="form-label ">HTML</label>
          <div class="progress">
            <div class="progress-bar bg-success" style="width: 100%;">100%</div>
          </div>
        </div>
       <div class="col-md-4 col-sm-4 col-lg-4 col-xl-4 col-xxl-4 mb-4">
          <label class="form-label ">CSS</label>
          <div class="progress">
            <div class="progress-bar bg-primary" style="width: 80%;">80%</div>
          </div>
        </div>
       <div class="col-md-4 col-sm-4 col-lg-4 col-xl-4 col-xxl-4 mb-4">
          <label class="form-label ">Bootstrap</label>
          <div class="progress ">
            <div class="progress-bar bg-secondary" style="width: 85%;">85%</div>
          </div>
        </div>
      </div>
      
      <div class="row col-md-12 col-sm-12  col-lg-12  col-xl-12  col-xxl-12">
        <div class="col-md-4 col-sm-4 col-lg-4 col-xl-4 col-xxl-4 mb-4">
          <label class="form-label">ASP.NET MVC Core</label>
          <div class="progress">
            <div class="progress-bar bg-success" style="width: 100%;">100%</div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 col-lg-4 col-xl-4 col-xxl-4 mb-4">
          <label class="form-label">REST APIs</label>
          <div class="progress">
            <div class="progress-bar bg-secondary" style="width: 90%;">90%</div>
          </div>
        </div>

       <div class="col-md-4 col-sm-4 col-lg-4 col-xl-4 col-xxl-4 mb-4">
          <label class="form-label ">JavaScript</label>
          <div class="progress">
            <div class="progress-bar bg-primary" style="width: 75%;">75%</div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 col-lg-4 col-xl-4 col-xxl-4 mb-4">
          <label class="form-label ">SQL Server</label>
          <div class="progress">
            <div class="progress-bar bg-primary" style="width: 80%;">80%</div>
          </div>
        </div> 
        <div class="col-md-4 col-sm-4 col-lg-4 col-xl-4 col-xxl-4 mb-4">
          <label class="form-label ">Git & GitHub</label>
          <div class="progress">
            <div class="progress-bar bg-primary" style="width: 80%;">80%</div>
          </div>
        </div>
        
      </div>

  
  </div>
</section>





<section id="portfolio" class="container py-5 section5">
    <h2 class="section-title text-center mb-4">Featured Projects</h2>

    <div id="portfolioCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">

            <!-- Slide 1 -->
            <div class="carousel-item active">
                <div class="row g-4">
                    <div class="col-12 col-sm-12 col-md-4  col-lg-4 col-xl-4 col-xxl-4">
                        <div class="card h-100 shadow-lg card-portfolio">
                            <img src="~/images/sms.png" class="card-img-top img-fluid" alt="Student Management" />
                            <div class="card-body">
                                <h5 class="card-title">Student Management</h5>
                                <p class="card-text">[ASP.NET MVC + SQL Server] with validation, Session, Crud, and reports.</p>
                            </div>
                        </div>
                    </div>
          
                    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                        <div class="card h-100 shadow-lg card-portfolio">
                            <img src="~/images/chatimg.png" class="card-img-top img-fluid" alt="SignalR Chat" />
                            <div class="card-body">
                                <h5 class="card-title">SignalR Chat</h5>
                                <p class="card-text">Real-time chat system using [ASP.NET MVC + SignalR ] for seamless user-to-user communication</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                        <div class="card h-100 shadow-lg card-portfolio">
                            <img src="~/images/xx2.png" class="card-img-top " alt="certificate img" />
                            <div class="card-body">
                                <h5 class="card-title">Certificate Management</h5>
                                <p class="card-text">Designed Html Reports to Print Student Certificate. using [ASP.NET MVC + Html Report ] </p>
                            </div>
                        </div>
                    </div>

                     <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                        <div class="card h-100 shadow-lg card-portfolio">
                            <img src="~/images/xx3.png" class="card-img-top " alt="certificate img" />
                            <div class="card-body">
                                <h5 class="card-title">Question Paper Management</h5>
                                <p class="card-text">Module for question creation, review, Question Bank updates, and automated question paper generation. </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                        <div class="card h-100 shadow-lg card-portfolio">
                            <img src="~/images/restapi.png" class="card-img-top img-fluid" alt="More Projects" />
                            <div class="card-body">
                                <h5 class="card-title">More Projects</h5>
                                <p class="card-text">Designed and implemented secure RESTful APIs using ASP.NET Core</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

      
    </div>
</section>


<section id="services" class="py-5"  style="background-color:#effbf7">
  <div class="container">
    <!-- Section Title -->
    <h3 class="text-center mb-5 fw-bold">Services</h3>

    <div class="row g-4">
      <!-- Service 1 -->
      <div class="col-12 col-md-6 col-lg-3">
        <div class="service-card  card h-100 text-center shadow-sm border-0 rounded-4 p-3">
          <div class="mb-3">
            <i class="bi bi-code-slash fs-1 text-primary"></i>
          </div>
          <h5 class="fw-bold mb-2">ASP.NET MVC</h5>
          <p class="text-muted">Web application development using MVC pattern for scalable and maintainable projects.</p>
        </div>
      </div>

      <!-- Service 2 -->
      <div class="col-12 col-md-6 col-lg-3">
        <div class="service-card text-center p-4 rounded-4 shadow-sm">
          <div class="mb-3">
            <i class="bi bi-box-arrow-in-right fs-1 text-success"></i>
          </div>
          <h5 class="fw-bold mb-2">API Creation</h5>
          <p class="text-muted">Design and develop RESTful APIs for integration and data exchange between systems.</p>
        </div>
      </div>

      <!-- Service 3 -->
      <div class="col-12 col-md-6 col-lg-3">
        <div class="service-card  card h-100 text-center shadow-sm border-0 rounded-4 p-3">
          <div class="mb-3">
            <i class="bi bi-database fs-1 text-warning"></i>
          </div>
          <h5 class="fw-bold mb-2">SQL Server</h5>
          <p class="text-muted">Database design and optimization for high performance and reliability.</p>
        </div>
      </div>

      <!-- Service 4 -->
      <div class="col-12 col-md-6 col-lg-3">
        <div class="service-card  card h-100 text-center shadow-sm border-0 rounded-4 p-3">
          <div class="mb-3">
            <i class="bi bi-phone fs-1 text-danger"></i>
          </div>
          <h5 class="fw-bold mb-2">Responsive UI</h5>
          <p class="text-muted">Front-end development with Bootstrap for mobile-friendly and responsive design.</p>
        </div>
      </div>
       
    </div>
  </div>
</section>



<section id="contact" class="container py-5">
    <div class="card">
     <div class="card-body shadow-sm bg-light">
    <h2 class="section-title"><i class="fa-solid fa-envelope"></i> Contact</h2>
    <div class="row">
        <div class="col-lg-12">
            <form method="post" asp-action="Contact" asp-controller="Profile" id="contactForm" class="row g-3">
                <div class="col-md-4">
                    <label class="form-label  fw-bold">Name</label>
                    <input id="name" class="form-control border border-dark-subtle bg-white" name="name" placeholder="Enter Name" required/>
                </div>

                <div class="col-md-4">
                    <label class="form-label  fw-bold">Email</label>
                    <input id="email" type="email" class="form-control border border-dark-subtle" name="email" placeholder="Enter Email ID"  required/>
                </div> 

                <div class="col-md-4">
                    <label class="form-label fw-bold">Subject </label>
                    <input id="sub" type="text" class="form-control border border-dark-subtle" name="sub" placeholder="Enter Subject"  required/>
                </div>

                <div class="col-12">
                    <label class="form-label fw-bold">Message</label>
                    <textarea id="msg" rows="5" class="form-control border border-dark-subtle" name="msg" placeholder="Type Message"  required></textarea>
                </div>
                <div class="col-12">
                     <button type="button" id="sendBtn" class="btn btn-primary" onclick="sendDataToContact()">Send</button>
                </div>
            </form>
        </div>
      
    </div>
        </div>
    </div>
</section>
<!-- Alert (hidden by default) -->

<div class="alert alert-light border border-secondary rounded-3 shadow-sm p-3 d-none" role="alert" id="pageAlert">
    <p class="fw-bold fs-5 text-center mb-0" id="modalMessage"></p>
</div>




